<ion-view view-title="যোগাযোগ">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <h2>আপনার সুচিন্তিত মতামত আমাদের জানান মেইলের মাধ্যমে -</h2>
                <a href="mailto:adorshodhakaandolon@gmail.com" target="_top">adorshodhakaandolon@gmail.com</a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <h2>এছাড়াও তাবিথ আউয়ালকে সরাসরি মেইল করুন - </h2>
                <a href="mailto:tabithawal2015@gmail.com" target="_top">tabithawal2015@gmail.com</a>
            </div>
        </div>
    </ion-content>
</ion-view>
