<ion-view view-title="প্রার্থী পরিচিতি">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/Mirza-Abbas.png" width="200" height="200"/>
                <h2>জননেতা মির্জাআব্বাস</h2>
                <p>ঢাকা মহানগর আহ্বায়ক</p>
                <p>বাংলাদেশ জাতীয়তাবাদী দল</p>
            </div>

            <div class="item item-body">
                <p>
                    প্রেসিডেন্ট জিয়াউর রহমান বীরউত্তমের হাত ধরেই বাংলাদেশ জাতীয়তাবাদী দল এর জন্মলগ্ন থেকেই মির্জা আবাস উদ্দিন
                    আহমেদের রাজনৈতিক জীবনের পথচলা শুরু। ১৯৭৮ সালের ২৭ অক্টোবর গঠিত হওয়া বাংলাদেশ জাতীয়তাবাদী যুবদলের প্রথম
                    আহ্বায়ক কমিটির ১১ জন সদস্যের তিনি একজন। ৯০ এর দশকে স্বৈরাচার এরশাদ বিরোধী আন্দোলনে মির্জা আব্বাস অত্যন্ত
                    গুরুত্বপূর্ণ ভূমিকা পালন করেন। ১৯৯১ সালের ১৯ মে তিনি ঢাকার ৪র্থ মেয়র হিসেবে নিযুক্ত হোন। ২৮ ডিসেম্বর,১৯৯৩
                    পর্যন্ত সফলতার সাথে তিনি দায়িত্ব পালন করেন। এসময়ে মেয়র হিসেবে তিনি উন্নয়নশীল অবকাঠামো নির্মাণের মাধ্যমে
                    হাজার হাজার মানুষের দুর্ভোগ লাঘবে ভূয়সী ভূমিকা পালন করেন। ২০০১ সালের নির্বাচনে তিনি ঢাকা-৬ ( বর্তমানে
                    ঢাকা-৮ এবং ৯ ) আসন থেকে সংসদ সদস্য নির্বাচিত হোন এবং গৃহায়ন ও গণপূর্ত মন্ত্রী হিসেবে শপথ করেন। মন্ত্রী
                    হিসেবে এসময় পরিবেশের ভারসাম্য এবং বন্যা নিশ্চিত করার জন্য জলাভূমি সংরক্ষণ আইন কঠোর প্রয়োগকারী উপর দৃষ্টি
                    নিবদ্ধ করেন। তাঁর অধীনে গৃহায়ন ও গণপূর্ত মন্ত্রণালয় ডিসেম্বর ২০০৬ সালে ভবন নির্মাণ বিধি সংশোধন প্রণয়ন করা
                    হয়।
                </p>

                <p>
                    ২০০৯ সালে বিএনপির কাউন্সিলে দলে তাঁর অবদানের জন্য তাকে জাতীয় স্থায়ী কমিটির সদস্য নির্বাচিত করা হয়।
                    একইসাথে ২০১৪ সালে তাঁকে ঢাকা মহানগরের আহ্বায়ক হিসেবে মনোনীত করা হয়। এর আগে তিনি যুবদলের সভাপতির দায়িত্ব ও
                    পালন করেছেন।
                </p>

                <p>
                    সামাজিক ক্ষেত্রে মির্জা আব্বাসের উল্লেখযোগ্য ভূমিকা রয়েছে। তিনি তাঁর এলাকায় নারী শিক্ষা উন্নয়নে 'মির্জা
                    আব্বাস মহিলা ডিগ্রী কলেজ' স্থাপন করেন। শারীরিক ও মানসিকভাবে প্রতিবন্ধী শিশুদের প্রতি তাঁর বিশেষ আবেগ রয়েছে।
                    ২০১৪ এর ৬ জুলাই প্রতিবন্ধী শিশুদের স্কুল SEID এ ১২ লক্ষ টাকা দান করেন।
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
