<ion-view view-title="ঢাকা উত্তর">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/tabith-awal.png" width="200" height="200"/>
                <h2>Young Leader Tabith Awal</h2>
                <p>Mayoral Candidate - North Dhaka</p>
                <p>Dty Chief Executive Officer - Multimode Group</p>
                <p>VP - Bangladesh Football Federation</p>
                <p>Director - MCCI Ex Dir- National Bank</p>

                <!--<h2>তারুণ্যের প্রতীক তাবিথ আউয়াল </h2>-->

                <!--<p>তরুণ উদ্যোক্তা ও ক্রীড়া সংগঠক </p>-->
            </div>

            <div class="item item-body">
                <p>
                    From 1997 to 2001, Mr. Abdul Awal Mintoo wrote 300 letters to his eldest son Tabith Awal, advising
                    him on everything from student politics to agriculture. It was his dearest wish that Tabith would
                    enter public service, for he had high hopes that the youth would eventually implement the many
                    changes the city desperately required. It is this strong sense of civic duty that he passed on to
                    his son, which Tabith Awal has displayed throughout his life in various ways, and it is this drive
                    for continual improvement that he is bringing to the Mayoral Office for the Dhaka North City
                    Corporation.
                </p>

                <p>
                    Tabith Awal won his first election when he was 14 years old. He had stood for the high school
                    student council presidency at the American International School, Dhaka. The school had accepted his
                    nomination as a joke, for it was unheard of that a freshman would rank anywhere against the host of
                    seniors competing. To their dismay, when the votes came in, he started pulling ahead. After a lot of
                    head scratching, the school committee decided that it was too close to call, cancelled the results,
                    and started a fresh election. This was his first brush with democracy, and his competitive nature
                    continues to this day.
                </p>

                <p>
                    From 1997 to 2001, he completed his bachelors and masters from George Washington University, USA, a
                    school renowned for producing famous political figures. There, amongst other things, he was the
                    president of the South Asian Society, which was the representative organization for all Indian,
                    Pakistani, and Bangladeshi students, with an active enrollment of over 2,000 students.
                </p>

                <p>
                    On his return, this trend of public service continued, even while he was successfully contending in
                    the business arena. In the past fifteen years he has worked extensively in the agricultural sector
                    with his seed company, greatly improving the productivity of farmers through hybrid seed research.
                    His crowning achievement has been overseeing the water buffalo genome sequencing, which will allow
                    our farmers to breed cattle specifically suited to Bangladesh. This is an unheard level of
                    scientific and technical expertise displayed by a Bangladeshi company, and has rightly put us on the
                    map as a country capable of technological innovation.
                </p>

                <p>
                    His second passion has always been football, and it is in the sporting arena where he has really
                    excelled. From captaining his school team to playing for Arambagh football club, he displayed the
                    tenacity and discipline required to be a professional athlete. He was at this time also considered
                    for the national team, but could not avail the opportunity due to his other commitments.
                </p>

                <p>
                    After retiring from playing in the premier league, he continued his dedication to the sport by
                    becoming the player manager of the Feni football club. He masterminded the meteoric rise of the club
                    to the pinnacle of footballing success, displaying that leadership and mentoring through sports is a
                    legitimate path to public service, particularly in our country where the people are starved of
                    genuine sporting achievements.
                </p>

                <p>
                    In 2012, Tabith was elected as the youngest vice president of the Bangladesh Football Federation,
                    and the current excellent results of the national team can be attributed directly to the work he and
                    the federation have done to promote the beloved sport.
                </p>

                <p>
                    In that year he was also elected to the council of CNG pump station owners association, which is a
                    nationwide body with a huge membership, due to his sterling work in that sector.
                </p>

                <p>
                    In 2013, he became a director of the Dhaka Metropolitan Chamber of Commerce, the youngest director
                    ever to be elected, and one of his main achievements has been to induce the youth to join. It has
                    been his aim in every situation to promote and involve the new generation in politics and service to
                    the country
                </p>

                <p>
                    Finally, in April 9th, 2015, following the Election Commission decision to disallow Mr. Abdul Awal
                    Mintoo from running, he was selected by the Bangladesh National Party to be their official candidate
                    for Dhaka City Corporation North, an endorsement by former Prime Minister and Party Leader the
                    Honorable Begum Khaleda Zia which reaffirms the capability and potential which he has displayed
                    throughout his life. It is also a ringing affirmation by BNP of the promise of youth and faith in a
                    new generation of political leaders.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
