<ion-view view-title="Ideal Dhaka">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/Emajuddin_ahamed.png" width="100" height="100">
                <h2>সাবেক উপাচার্য এমাজউদ্দীন আহমদ </h2>
                <p>আহ্বায়ক</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/Shaukat_Mahmood.png" width="100" height="100">
                <h2>বিশিষ্ট সাংবাদিক শওকত মাহমুদ</h2>
                <p>সদস্য সচিব</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/Mahfuzullah.png" width="100" height="100">
                <h2>মাহফুজ উল্লাহ</h2>
                <p>প্রচার ও প্রকাশনা উপ-কমিটির আহ্বায়ক</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/person-icon.png" width="100" height="100">
                <h2>আইনজীবী খন্দকার মাহবুব হোসেন</h2>
                <p>সদস্য</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/person-icon.png" width="100" height="100">
                <h2>জাফরুল্লাহ চৌধুরী</h2>
                <p>সদস্য</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/person-icon.png" width="100" height="100">
                <h2>অধ্যাপক মাহবুব উল্লাহ</h2>
                <p>সদস্য</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/person-icon.png" width="100" height="100">
                <h2>আ. ফ. ম ইউসুফ হায়দার</h2>
                <p>সদস্য</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/person-icon.png" width="100" height="100">
                <h2>প্রকৌশলী আ. ন. হ. আখতার হোসেন</h2>
                <p>সদস্য</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/person-icon.png" width="100" height="100">
                <h2>সাংবাদিক আবদুল হাই শিকদার</h2>
                <p>সদস্য</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/person-icon.png" width="100" height="100">
                <h2>আইনজীবী ফাহিমা নাসরিন</h2>
                <p>সদস্য</p>
            </div>
        </div>
    </ion-content>
</ion-view>
