<ion-view view-title="ঢাকা উত্তর">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <section>
                    <p>
                        প্রিয় ঢাকাবাসী আসসালামু আলাইকুম,
                    </p>

                    <p>
                        প্রাণের শহর রাজধানী ঢাকার ক্রান্তিকালে একজন মেয়র প্রার্থী হিসেবে আপনাদের কাছে আমার বার্তা পৌঁছে দেওয়ার
                        জন্য এই লেখা।
                    </p>

                    <p>
                        ঢাকা মহানগরের ব্যবস্থাপনায় সরকারের চরম ব্যর্থতা ও প্রশাসনের নির্লিপ্ততা চরমসীমায় পৌঁছেছে। শহরের
                        বাসিন্দারা অবর্ণনীয় দুর্দশায় পতিত। নাগরিক জীবনের মৌলিক সুযোগ সুবিধা থেকে তাঁরা বঞ্চিত। অবস্থাদৃষ্টে
                        মনে হয়, আধুনিক যুগের বাসিন্দা হয়েও আমরা যেন এখনো আদিম যুগের কোন আবর্জনার শহরে বাস করছি। ঢাকা মহানগরীর
                        পানি ও বাতাস পৃথিবীর যে কোন শহরের চেয়ে বেশি দূষিত। যার ফলে নানা ধরনের রোগের বসবাস এ শহরে। নগরীর
                        রাস্তা-ঘাটগুলো খানাখন্দক, ময়লা- আবর্জনায় ভরা। অনেক এলাকা বাসের অযোগ্য হয়ে পড়েছে।
                    </p>

                    <p>
                        প্রযুক্তিনির্ভর দুনিয়ার দিকে তাকালে রাজধানী ঢাকাকে মনে হয়, একটা স্থবির, অনিরাপদ, অন্ধকার ও জঞ্জালের
                        শহর। যেখানে মানুষের নিত্যদিনের সঙ্গী যানজট। এখানে আমাদের ছেলেমেয়েদের সুস্থভাবে বেড়ে উঠাই দায়। পৃথিবীর
                        কোনো দেশের রাজধানী শহরে এ ধরনের অবস্থা চলতে পারে না। এই অভিশাপ থেকে মুক্ত করা অত্যন্ত জরুরি।
                    </p>

                    <p>
                        আমি তাবিথ মোহাম্মদ আউয়াল একজন তরুন ব্যবসায়ী, ক্রীড়া সংগঠক ও সমাজসেবক। রাজধানী ঢাকার চলমান সমস্যার
                        সমাধান করে নতুন ঢাকা গড়ার ব্রত নিয়ে রাজনীতিতে যুক্ত হয়েছি। এই উদ্দেশ্যে আসন্ন ঢাকা উত্তর সিটি
                        করপোরেশনের নির্বাচনে ‘আদর্শ ঢাকা আন্দোলন’ আমাকে মেয়র প্রার্থী মনোনীত করেছে।
                    </p>

                    <p>
                        রাজনীতিতে নতুন হলেও প্রতিটি ক্ষেত্রে আমি প্রজ্ঞা, মেধা ও ন্যায়ের সাথে কাজ করে সকলের আস্থার প্রতিদান
                        দিতে চাই। যুক্তরাষ্ট্রের বিখ্যাত জর্জ ওয়াশিংটন ইউনিভার্সিটি থেকে ব্যবসায় প্রশাসনে (বিবিএ) স্নাতক এবং
                        তথ্য ব্যবস্থাপনা বিজ্ঞানে স্নাতকোত্তর (এমএসসি) ডিগ্রি পেয়েছি। এছাড়া ২০০০-২০০১ সালে সাউথ এশিয়ান
                        সোসাইটির প্রেসিডেন্টের দায়িত্বে ছিলাম। ফকিরাপুল ইয়ংমেন ক্লাব ও আরামবাগ ক্রীড়া চক্রের অধিনায়কের
                        দায়িত্ব পালন করি। বর্তমানে বাংলাদেশ ফুটবল ফেডারেশনের নির্বাচিত সহ-সভাপতি এবং ফেনী সকার ক্লাবের সভাপতি
                        হিসেবে আছি।
                    </p>

                    <p>
                        ঢাকা উত্তর সিটি কর্পোরেশনের মেয়র পদে জনগণ আমাকে নির্বাচিত করলে আমি স্বভাবজাত প্রজ্ঞা, ন্যায় ও সততার
                        সাথে দ্রুত সংস্কার কাজে হাত দেব। প্রশাসনিক দুর্বলতা ও সুশাসনের সংকট কাটিয়ে উঠতে নিরলস চেষ্টা চালিয়ে
                        যাব। নাগরিক জীবনের অশান্তি, বিশৃঙ্খলা ও হানাহানিতে দেশের সামাজিক ও অর্থনৈতিতে যে বিপর্যয়ের সৃষ্টি
                        হয়েছে, তার উত্তরণ করে বসবাসযোগ্য আদর্শ ঢাকা গড়তে আমি দৃঢ় প্রতিজ্ঞ।
                    </p>

                    <p>
                        আমার মেধা, শিক্ষা, অর্জন এবং অভিজ্ঞতা কাজে লাগিয়ে আপনাদের পাশে দাঁড়াতে চাই।
                    </p>

                    <p>
                        আমি আপনাদের ভাই, বন্ধু। কারো কারো সন্তানতুল্য। আপনাদের দোয়া ও ভালোবাসা নিয়ে ঢাকা উত্তর সিটি
                        কর্পোরেশনের সকল নাগরিকের সেবা সুনিশ্চিত করতে চাই।
                    </p>

                    <p>
                        তাবিথ আউয়াল
                    </p>
                </section>
            </div>
        </div>
    </ion-content>
</ion-view>
